<div class="columns">
  <div class="column col-12">
    <h2>Sentinel-2 MGRS Tile Search API</h2>

    <h5>Simple API to query Sentinel-2 tile data by MGRS on <a href="https://aws.amazon.com/public-datasets/sentinel-2/" target="blank">AWS</a></h5>

    <p>
      mgrs parameter format is <b>utm_zone + latitude_band + grid_square</b><br>
      start_date and end_date parameter formats are <b>YYYY-MM-DD</b><br>
    </p>

    <p>Tile Preview Viewer implementing this API: <a href="https://s2viewer.satgateway.com" target="_blank">https://s2viewer.satgateway.com</a></p>

    <h4>Tile API Call Examples</h4>

    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><b>Get all tiles for 36RUU</b></div>
      </div>
      <div class="panel-body">
        <% api_url = "#{root_url}api/v1/tiles?mgrs=36RUU" %>
        <%= link_to api_url, api_url, target: "_blank" %>
      </div>
      <div class="panel-footer">
      </div>
    </div>

    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><b>Get all tiles for 36RUU with date >= 2017-01-01</b></div>
      </div>
      <div class="panel-body">
        <% api_url2 = "#{root_url}api/v1/tiles?mgrs=36RUU&start_date=2017-01-01" %>
        <%= link_to api_url2, api_url2, target: "_blank" %>
      </div>
      <div class="panel-footer">
      </div>
    </div>

    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><b>Get all tiles for 36RUU with date <= 2017-10-15</b></div>
      </div>
      <div class="panel-body">
        <% api_url3 = "#{root_url}api/v1/tiles?mgrs=36RUU&end_date=2017-10-15" %>
        <%= link_to api_url3, api_url3, target: "_blank" %>
      </div>
      <div class="panel-footer">
      </div>
    </div>

    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><b>Get all tiles for 36RUU between 2017-01-01 and 2017-10-15</b></div>
      </div>
      <div class="panel-body">
        <% api_url4 = "#{root_url}api/v1/tiles?mgrs=36RUU&start_date=2017-01-01&end_date=2017-10-15" %>
        <%= link_to api_url4, api_url4, target: "_blank" %>
      </div>
      <div class="panel-footer">
      </div>
    </div>

    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><b>Get all tiles for 36RUU with <= 50% cloud coverage</b></div>
      </div>
      <div class="panel-body">
        <% api_url5 = "#{root_url}api/v1/tiles?mgrs=36RUU&cloud_max=50" %>
        <%= link_to api_url5, api_url5, target: "_blank" %>
      </div>
      <div class="panel-footer">
      </div>
    </div>

    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><b>Get all tiles for 36RUU with >= 10% data coverage</b></div>
      </div>
      <div class="panel-body">
        <% api_url6 = "#{root_url}api/v1/tiles?mgrs=36RUU&data_min=10" %>
        <%= link_to api_url6, api_url6, target: "_blank" %>
      </div>
      <div class="panel-footer">
      </div>
    </div>

    <div><br></div>

    <h4>API Response Example</h4>
    <script src="https://gist.github.com/beaorn/4c412484f9d00d9b9f91ffb59044f082.js"></script>

    <div><br></div>

    <h4>MGRS API Call Examples</h4>

    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"><b>Find MGRS tile identifier for a given latitude and longitude (29.979235, 31.134202)</b></div>
      </div>
      <div class="panel-body">
        <% mapi_url = "#{root_url}api/v1/mgrs_grids/closest?latitude=29.979235&longitude=31.134202" %>
        <%= link_to mapi_url, mapi_url, target: "_blank" %>
      </div>
      <div class="panel-footer">
      </div>
    </div>

    <div><br></div>

    <h4>API Response Example</h4>
    <script src="https://gist.github.com/beaorn/cfe7c19573c119521ce77cd21072a4ab.js"></script>

    <div><br></div>

    <p>
      Powered by <b><a href="https://github.com/beaorn/sentinel2-search-api" target="_blank">sentinel2-search-api</a></b>
      and <b><a href="https://github.com/beaorn/sentinel2_aws" target="_blank">sentinel2_aws</a></b>
    </p>
  </div>
</div>
